#mapcontroller{
    position: fixed;
    top: 66px;
    right: 55px;
    z-index: 500;
    width: 380px;
    height: 91px;
    background: transparent;
  }

.chartOption {
    height: 44px;
    width: 380px;
    background: #1c2330;
    display: flex;
    flex-wrap: nowrap;
}

.chartOption button{
    color: #409EFF;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.chartOption button :hover{
    color: #66b1ff;
}