/* MarineTrafficStyle.css */

.search-box-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: auto; /* 根据内容自动调整宽度 */
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  background-color: rgba(128, 128, 128, 0.5); /* 半透明的灰色背景 */
  backdrop-filter: blur(10px); /* 虚化效果 */
}


.search-input {
  flex-grow: 1;
  padding: 8px 16px;
  margin-right: 8px; /* 在搜索框和容器右侧保持一些间隙 */
  border: none; /* 去除输入框的边框 */
  border-radius: 20px; /* 圆角 */
  outline: none; /* 去除聚焦时的轮廓 */
  color: #333; /* 输入文本的颜色 */
  background-color: transparent; /* 使输入框背景透明 */
}

/* 隐藏 Search 按钮 */
.search-button {
  display: none; /* 不显示搜索按钮 */
}

/* 下拉列表样式 */
.dropdown {
  position: absolute;
  background-color: #f6f6f6;
  min-width: 90%; /* 下拉列表的宽度相对于搜索框的宽度 */
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
  top: 100%;
}

.dropdown-item {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #ddd; /* 每个项目之间的分隔线 */
}

.dropdown-item:last-child {
  border-bottom: none; /* 最后一个项目不需要分隔线 */
}

.dropdown-item:hover {
  background-color: #ddd;
}

/* 错误信息样式 */
.error-message {
  color: red;
  background-color: #ffc0cb; /* 浅粉色背景 */
  padding: 10px;
  margin-top:
10px; /* 在搜索框下方留出间隙 */
border-radius: 5px;
text-align: center;
}