#menuoptions {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 600;
    width: 265px;
    height: 34px;
    border-radius: 17px;
    opacity: 0.9;
    left: 80%;
    /* box-shadow: 0px 0px 4px 0px rgba(10, 32, 79, 0.4); 
    background: #1c2330;*/
}


#menuoptions button{
    /* border-radius: 50%; */
    /* height: 30px; */
    /* width: 30px; */
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    
    outline: none;
}


.ant-float-btn-default .ant-float-btn-body{
  border: 2px solid rgba(0,0,0,0.2);
}

#menuoptions button:hover{
    background-color: lightgrey;
}

#menuoptions button span{
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuoptions button span svg{
    height: 20px;
    width: 20px;
}

.menubutton div{
    display: none;
    border: 1px solid red;
    margin-top: 10px;
}

.menubutton:hover div{
    display: block;
}

.filter-dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1001;
  }
  
  .filter-dropdown div {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .filter-dropdown div:hover {
    background-color: #f0f0f0;
  }

  .leaflet-touch .geocoder-control{
    position: fixed;
    top: 0px;
    right: 0px;
    max-width: 280px;
    z-index: 100;
  }

  .leaflet-touch .leaflet-draw{
    position: fixed;
    top: 40px;
    right: 0px;
    max-width: 265px;
    z-index: -100;
  }

  .leaflet-touch .geocoder-control-input{
    /* box-shadow: 0px 0px 4px 0px rgba(10, 32, 79, 0.4);
    background: #1c2330;
    border-radius: 17px;
    color: white;
    background-image: url("/src/img/locate-white.svg"); */
  }

  

/* .tooltip-container:hover .tooltip-box{
    z-index: 99;
} */

.functionpanel{
  right:10px;
  bottom: 20px;
}